@font-face {
    font-family: Chrobot;
    src: url("../fonts/Chrobot.otf") format("opentype");
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Chrobot', sans-serif;
}

/* Untuk halaman awal */
.splashscreen {
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    padding: 100px 0;
}

.splashscreen h1 {
    font-size: 50px;
    margin-top: 20px;
}

.splashscreen h2 {
    font-size: 24px;
    margin-top: 20px;
    line-height: 40px;
}

.splashscreen .btn-dewa {
    font-size: 24px;
}

/* Master CSS Tombol */
.btn-dewa {
    border: 1px solid #393B3F;
    padding: 15px;
    text-decoration: none;
    background: #424242;
    color: #f5f5f5;
}

.btn-dewa:hover {
    background: #f5f5f5;
    color: #212121;
    font-weight: bold;
}

.parallax {
    /* The image used */
    background-image: url("../img/bg.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -1000;
}

.section.section-dewa {
    padding: 120px 0;
    line-height: 24px;
}

.row.images {
    position:absolute;
}

.container {
    width: 900px;
}

#section1 p {
    line-height: 16px;
}

 #section2 p {
     line-height: 18px;
 }

 #myBtn {
     position: relative; /* Fixed/sticky position */
     bottom: 20px; /* Place the button at the bottom of the page */
     left: 530px;
     z-index: 99; /* Make sure it does not overlap */
     border: none; /* Remove borders */
     outline: none; /* Remove outline */
     background-color: red; /* Set a background color */
     color: white; /* Text color */
     cursor: pointer; /* Add a mouse pointer on hover */
     padding: 15px; /* Some padding */
     border-radius: 75px; /* Rounded corners */
 }

 #myBtn:hover {
     background-color: #555; /* Add a dark-grey background on hover */
 }

 .footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     background: #212121;
     height:300px;
     z-index: 1002;
     color: #ffffff;
 }

 .tab-wannabe {
     border: 1px solid #212121;
     border-radius: 75px;
     padding: 10px;
     color: #212121;
     margin-right: 10px;
     font-size: 15px;
 }

 .tab-wannabe:hover, .tab-wannabe.active {
     text-decoration: none;
     background: #F7941E;
     color: #ffffff;
 }

    #fdw-pricing-table {
 		margin:0 auto;
 		text-align: center;
 		width: 100%;
 		zoom: 1;
        border-radius: 75px;
        padding-top:50px;
        padding-bottom:50px;
 	}

 	#fdw-pricing-table .plan {
 		/*font-size: 13px;*/
 		border: 1px solid #ddd;
 		color: #333;
 		padding: 20px;
 		width: 21%;
 		float: left;
 		_display: inline;
 		position: relative;
 		margin: 0 5px;
 		-moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
 		-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
 		box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
    border-radius: 15px;
 	}
  #fdw-pricing-table .text {
 		/*font-size: 13px;*/
 		color: #333;
 		padding: 20px;
 		/*width: 20%;*/
 		float: left;
 		_display: inline;
 		position: relative;
 		margin: 0 5px;
    text-align: right;
 	}

 	#fdw-pricing-table ul {
 		margin: 20px 0;
 		padding: 0;
 		list-style: none;
 	}

 	#fdw-pricing-table li {
 		padding: 10px 0;
 	}

  #fdw-pricing-table li h1{
 		padding: 10px 0;
    color: #83D5F7;
    font-size: 15px;
 	}
  #fdw-pricing-table li h2{
    margin-top: -30px;
    color: #83D5F7;
    font-size: 12px;
  }

  #fdw-pricing-table li img{
    width:20px;
  }

  #right-button{
    width:50px;
    margin-left: 95%;
    margin-top: -20%;
  }
  #right-button img{
    width:55px;
    padding: 5px;
  }

  #right-button img:hover{
    width:60px;
    padding: 5px;
  }

    .nav-dewa .nav-item .nav-link {
        color: #212121;
    }

  .nav-dewa .nav-item .nav-link.active {
      border-bottom: 2px solid #F7941E;
  }

  .navbar {
      font-weight: 900;
  }

  .pricing {
      border: 1px solid #212121;
      border-radius: 20px;
      padding: 10px;
  }

  .pricing button {
      border: none;
      background: #212121;
      color: #ffffff;
      border-radius: 5px;
      cursor: pointer;
  }

  .plan .plan-title {
      position: absolute;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      background: #424242;
      border-radius: 30px;
      padding: 5px 10px;
      top: -15px;
      left: -5px;
      width: 180px;
  }

  .plan .order {
      color: #fff;
      background: #F7941E;
      padding: 12px;
      border: 1px solid #212121;
      border-radius: 20px;
      font-size: 22px;
      margin-bottom: 10px;
      cursor: pointer;
  }