@font-face {
    font-family: Chrobot;
    src: url("../fonts/Chrobot.otf") format("opentype");
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Chrobot', sans-serif;
}

/* Untuk halaman awal */
.splashscreen {
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
    padding: 100px 0;
}

.splashscreen h1 {
    font-size: 50px;
    margin-top: 20px;
}

.splashscreen h2 {
    font-size: 24px;
    margin-top: 20px;
    line-height: 40px;
}

.splashscreen .btn-dewa {
    font-size: 24px;
}

/* Master CSS Tombol */
.btn-dewa {
    border: 1px solid #393B3F;
    padding: 15px;
    text-decoration: none;
    background: #424242;
    color: #f5f5f5;
}

.btn-dewa:hover {
    background: #f5f5f5;
    color: #212121;
    font-weight: bold;
}

.parallax {
    /* The image used */
    background-image: url("../img/bg.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -1000;
}

.section.section-dewa {
    padding: 120px 0;
    line-height: 24px;
}

.row.images {
    position:absolute;
}

.container {
    width: 900px;
}

#section1 p {
    line-height: 16px;
}

 #section2 p {
     line-height: 18px;
 }

 #myBtn {
     position: relative; /* Fixed/sticky position */
     bottom: 20px; /* Place the button at the bottom of the page */
     left: 580px;
     z-index: 99; /* Make sure it does not overlap */
     border: none; /* Remove borders */
     outline: none; /* Remove outline */
     background-color: red; /* Set a background color */
     color: white; /* Text color */
     cursor: pointer; /* Add a mouse pointer on hover */
     padding: 15px; /* Some padding */
     border-radius: 75px; /* Rounded corners */
 }

 #myBtn:hover {
     background-color: #555; /* Add a dark-grey background on hover */
 }

 .footer {
     position: absolute;
     bottom: 0;
     width: 100%;
     background: #212121;
     height:300px;
     z-index: 1002;
     color: #ffffff;
 }

 .tab-wannabe {
     border: 1px solid #212121;
     border-radius: 75px;
     padding: 10px;
     color: #212121;
     margin-right: 10px;
 }

 .tab-wannabe:hover, .tab-wannabe.active {
     text-decoration: none;
     background: #FF9800;
     color: #ffffff;
 }